.root {
  composes: root from '@goshirts-react/lib/components/InputText/inputText.module.css';
  /* display: grid;
  gap: 0.25rem; */
  font-size: 0.9rem;
  position: relative;
}
.label {
  width: 100%;
}

.selected {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(223, 225, 226);
  border-radius: 4px;
  padding: 0.5rem 1rem 0.5rem 0.5rem;
  cursor: pointer;
}

.closeMenu {
  visibility: hidden;
  opacity: 0;
  transition: 0.2s;
}

.openMenu {
  opacity: 1;
  transition: 3s;
}

.items {
  position: absolute;
  top: 66px;
  left: 0;
  width: 99%;
  height: 0;
  background-color: rgb(255, 255, 255);
  border: 2px solid rgb(223, 225, 226);
  border-top-width: 0px;
  border-bottom-width: 0px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  z-index: 1;
  transition: 0.5s;
}

.itemsActive {
  composes: items;
  height: 116%;
  border: 2px solid rgb(223, 225, 226);
  border-top-width: 0px;
  transition: 0.5s;
}

.item {
  padding: 0.6rem;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.itemActive {
  composes: item;
}

.item:hover,
.itemActive {
  background-color: rgb(244, 245, 245);
}
