.root {
  align-items: center;
  display: inline-flex;
  justify-content: center;
  touch-action: manipulation;
}

.icon {
  color: rgb(23, 32, 38);
  stroke: rgb(23, 32, 38);
  transform: rotate(0deg);
  transition: 0.5s;
}

.iconActive {
  transform: rotate(180deg);
  transition: 0.5s;
}
